@use "./shared/brand" as brand;
@use "bootstrap/scss/bootstrap" with (
  $primary: brand.$primary,
  $secondary: brand.$secondary,
  $success: brand.$success,
  $danger: brand.$danger,
  $info: brand.$info,
  $warning: brand.$warning
);

@use "./shared/base";
@use "./userreview/layout";